:root {
  --gov-blue:#003475;
  --navy:#002E94;
  --blue:#083AA9;
  --white: #fff;
  --lightgrey-200:#ecebec;
  --lightgrey-300:#cdccce;
  --lightgrey-500:#99989c;
  --yellow: rgb(130,130,4);
  --green:#006736;
}

main {
  flex: 1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styling */
header {
  width: 100%;
  height: 90px;
  border-bottom: 10px solid var(--blue);
}

header .img-gov {
  height: 80px;
  width: auto;
}


/* Displays */
.d-flex {  /* Balame d-block gia na tou dwsoume upsos kai platos */
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-white {
  color: var(--white);
}

.text-blue {
  color: var(--blue);
}

.text-grey {
  color: grey;
}

/* Sizes */
.new-size {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

/* Margins */
.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-zero {
  margin: 0;
}

.ml-05 {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

/* Paddings */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

/* Colors */

.bg-gov-blue {
  background-color: var(--gov-blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-lightgrey-300 {
  background-color: var(--lightgrey-300);
}

.text-decoration-none {
  text-decoration: none;
}

.stepper-border-bottom {
  display: block;
  border-bottom: 1px solid var(--lightgrey-500);
}

.font-bold {
  font-weight: 700;
}

/* Footer */
footer {
  border-top: 10px solid var(--blue);
}

.img-footer {
  height: 45px;
  width: auto;
}