body {
  background-color: pink;
}

p, li {
  color: deeppink;
}

.aueb-logo {
  border: 3px solid purple;
  width: 400px;
}

img.aueb-logo {
  height: auto;
}

p.aueb-logo {
  color: black;
}

ul > li {
  color: blue;
}

h1 + p {
  color: aqua;
}

.link-cf:link {
  text-decoration: none;
  color: black;
}

.link-cf:visited {
  color: brown;
}

.link-cf:hover {
  background-color: rgb(174, 94, 214);
}

.link-cf:focus {
  outline: none;

}

.link-cf:active {
  background-color: blue;
}

#auebLogo {
  color: red;
}

.border-green-1 {
  border: 1px solid green;
}

.border-green-2 {
  border: 2px solid green;
}

.text-blue {
  color: blue;
}

